@page "/counter2"
@rendermode InteractiveServer

<h4>Input (encoded)</h4>
<pre>@Input</pre>

<h4>Input (markup)</h4>
<pre>@((MarkupString)Input)</pre>

@code {
    [SupplyParameterFromQuery] private string Input { get; set; } = "";

#pragma warning disable CS8618
    private string output;
#pragma warning restore CS8618

    private void DoStuff(int a, int b, int c, int d, int e, int f, int g, int h, int j, int k)
    {
        
    }
}