@page "/counter2"
@rendermode InteractiveServer

<h4>Input (encoded)</h4>
<pre>@Input</pre>

<h4>Input (markup)</h4>
<pre>@((MarkupString)Input)</pre>

@code {
    [SupplyParameterFromQuery] private string Input { get; set; } = "";

    [ThreadStatic]
    private string output;

    public string MyProp { get; set; } = "";

    private void DoStuff(int a, int b, int c, int d, int e, int f, int g, int h, int j, int k, string myprop)
    {

        myprop = myprop;

        MyProp = MyProp;

    }
}