@page "/S3649"
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>SQL injection</h1>

<div>Query being executed: <pre>@(query)</pre></div>

@code {

    private readonly UserDBContext Context;

    [SupplyParameterFromQuery]
    public string UserName { get; set; } = "";

    private string query = "";

    protected override Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UserName))
        {
            executeFilter(UserName);
        }

        return base.OnInitializedAsync();
    }

    private void executeFilter(string? filter)
    {
        query = "SELECT * FROM users WHERE user = '" + UserName + "'";

        if(Context != null)
        {            
            var queryResults = Context
                .Users
                .FromSqlRaw(query);
        }

    }
}
